    <div id="wrapper">
      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/metrics">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Metrics</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/servers">
            <i class="fas fa-fw fa-table"></i>
            <span>Servers</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/new-metric">
              <i class="fas fa-fw fa-table"></i>
              <span>Create Metric</span></a>
          </li>
      </ul>
      <div id="content-wrapper">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /.content-wrapper -->
    </div>
    <!-- /#wrapper -->
